Jinja2==3.1.2
MarkupSafe==2.1.2
PyYAML==6.0
certifi==2022.12.7
cryptography==40.0.1
decorator==5.1.1
idna==3.4
ipcalc==1.99.0
netifaces==0.11.0
packaging==23.1
ping3==4.0.4
pip==23.0.1
platformdirs==3.2.0
pluggy==1.0.0
py==1.11.0
pycparser==2.21
pyparsing==3.0.9
requests==2.28.2
ruamel.yaml==0.17.21
setuptools==67.6.1
six==1.16.0
snowflake==0.0.3
systemd-python==235
toml==0.10.2
tornado==6.2
validators==0.20.0
wheel==0.40.0
urllib3==1.26.15
